.filterWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-right: 20px;
  font-size: 15px;

  transition: all 0.3s;
}

.filterInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #7c7c7c;
  border-radius: 4px;

  transition: all 0.3s;
}

.filterInput:hover,
.filterInput:focus {
  border-color: var(--main-color);
}