.form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #adadad;
  border-radius: 5px;
  background-color: var(--main-color);
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;

  color: var(--secondary-color);
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitBtn {
  display: block;
  padding: 10px 15px;
  margin: 0 auto;

  min-width: 120px;
  min-height: 40px;

  border: none;
  border-radius: 7px;
  cursor: pointer;

  background-color: var(--third-color);
  color: var(--main-color);

  transition: all 0.3s;
}

.submitBtn:hover {
  transform: scale(var(--anim-scale));
  background-color: rgb(181, 222, 78);
}